mastercard-api-csharp/MasterCard/SDK/Services/PartnerWallet/Domain/AuthorizePairingResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AuthorizePairingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="MerchantCallbackURL"/>
        <xs:element type="xs:string" name="VerifierToken"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>