mastercard-api-csharp/MasterCard/SDK/Services/PartnerWallet/Domain/WalletPrecheckoutDataRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WalletPrecheckoutDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="OauthToken"/>
        <xs:element type="xs:int" name="ConsumerWalletId"/>
        <xs:element type="xs:long" name="PrecheckoutTransactionId"/>
        <xs:element name="PairingDataTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PairingDataType">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="WalletId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
