MasterCard/SDK/Services/PartnerWallet/Domain/ConnectionHistory.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConnectionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MerchantInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:string" name="Type"/>
              <xs:element name="ActivityList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Activity">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:dateTime" name="Date"/>
                          <xs:element type="xs:string" name="ExpressCheckout"/>
                          <xs:element type="xs:string" name="Pairing"/>
                          <xs:element name="PairingDataType">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Type"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="PrecheckoutDataType"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>