MasterCard/SDK/Services/PartnerWallet/Domain/ConnectedMerchantsResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConnectedMerchantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Merchants">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="DisplayName"/>
              <xs:element type="xs:string" name="MerchantType"/>
              <xs:element type="xs:string" name="ProductionUrl"/>
              <xs:element type="xs:string" name="SandboxUrl"/>
              <xs:element type="xs:string" name="MerchantCheckoutId"/>
              <xs:element name="Logo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Ref"/>
                    <xs:element type="xs:string" name="Height"/>
                    <xs:element type="xs:string" name="Width"/>
                    <xs:element type="xs:string" name="BackgroundColor"/>
                    <xs:element type="xs:string" name="Url"/>
                    <xs:element type="xs:string" name="LongDescription"/>
                    <xs:element type="xs:string" name="AlternateText"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
